.footer {
    background: linear-gradient(0deg, rgba(49,168,221,0.2) 0%, rgba(0,0,0,1) 100%);
    padding: 3rem 0 2rem 0;
    text-align: center;
}

.footer__text {
    color: #ffffff;
    margin: 0.3%;
}

.footer__link {
    color: #33A8DB;
    font-weight: 700;
    text-decoration: none;
}