.content__challenges {
    border-bottom: 1px solid #33A8DB;
    text-align: center;
}

.challenges_title {
    color: #33A8DB;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.19em;
    margin: 8% 20% 3% 20%;
}

.challenges_image {
    margin-bottom: 1.8%;
}

.challenges_text {
    color: #ffffff;
    line-height: 1.174rem;
    margin: 2% 22% 7% 22%;
}