.content__imageBanner {
    background-image: url(../../img/woman-dev.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #33A8DB;
    height: 22.688rem;
    width: 100%;
}

.imageBanner__title {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 900;
    height: 8.813rem;
    left: 12.375rem;
    position: relative;
    text-shadow: 3px 2px 0px #33A8DB;
    top: 6.938rem;
    width: 15.25rem;
}
